<div class="horizontal-scroll">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th class="table-id">#</th>
            <th>上传文件名</th>
            <th>存储文件名</th>
            <th>存储地址</th>
            <th>存储位置</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="f in fileList">
            <td class="table-id">{{f.id}}</td>
            <td>{{f.file_name}}</td>
            <td>{{f.store_file_name}}</td>
            <td>{{f.store_channel=="qn"?"七牛":"乐视"}}</td>
            <td>{{f.store_location}}</td>
            <td><button class="status-button btn btn-xs btn-{{f.status}}">{{f.status == 'success'?"成功":f.status == 'danger'?"失败":"处理中"}}</button></td>
        </tr>
        </tbody>
    </table>
</div>