<form>
    <div class="form-group">
        <label for="batchNo">批次号</label>
        <input type="text" class="form-control" id="batchNo" ng-model="batchNo" placeholder="批次号">
    </div>
    <div class="form-group">
        <label for="ids">视频ID</label>
        <textarea class="form-control" id="ids" ng-model="ids"/>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="button-wrapper"><button type="button" ng-click="realProducer()" class="btn btn-success">转换</button></div>
        </div>
    </div>
</form>