<form>

    <div class="row">
        <div class="col-md-2 text-right">
            <label>请选择支付渠道</label>
        </div>
        <div class="col-md-4 text-left">
            <div class="form-group">
                <select class="form-control" ng-model="merchant.id" ng-change="selectMerchantChange(merchant.id)" title="支付渠道" data-style="btn-primary" selectpicker>
                   <option></option>
                    <option ng-repeat="item in data.list" value="{{item.id}}">{{item.merchant_no}}      {{item.merchant_name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <label>请选择签名方式</label>
        </div>
        <div class="col-md-4 text-left">
            <div class="form-group">
                <select class="form-control" ng-model="merchant.sign_type" ng-change="selectSignTypeChange(merchant.sign_type)" title="签名类型" data-style="btn-primary" selectpicker>
                    <option></option>
                    <option data-ng-repeat="item in signType" value="{{item}}">{{item}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group" id="mdgSignDiv">
        <label for="sign">MD5密钥</label>
        <input type="text" class="form-control" id="sign" ng-model="merchant.sign" placeholder="MD5密钥">
    </div>
    <div class="form-group" id="publicSignDiv">
        <label for="public_sign">SRA2公钥</label>
        <textarea placeholder="SRA2公钥" class="form-control" id="public_sign" ng-model="merchant.public_sign"></textarea>
    </div>
    <div class="form-group" id="privateSignDiv">
        <label for="private_sign">SRA2私钥</label>
        <textarea placeholder="SRA2私钥" class="form-control" id="private_sign" ng-model="merchant.private_sign"></textarea>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="button-wrapper"><button type="button" ng-click="saveSign()" class="btn btn-success">保存</button></div>
        </div>
        <div class="col-md-2" id="deleteBtn" hidden>
            <div class="button-wrapper"><button type="button" ng-click="delete()" class="btn btn-danger">删除</button></div>
        </div>
    </div>

</form>
