<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="align-right">#</th>
            <th class="align-right">触发器名称</th>
            <th class="align-right">触发器组名称</th>
            <th class="align-right">触发器类型</th>
            <th class="align-right">触发器表达式</th>
            <th class="align-right">触发次数</th>
            <th class="align-right">触发间隔</th>
            <th class="align-right">操作</th>
        </tr>
        </thead>
        <tr ng-repeat="item in data.list">
            <td class="align-right">{{item.id}}</td>
            <td class="align-right">{{item.trigger_name}}</td>
            <td class="align-right">{{item.trigger_group}}</td>
            <td class="align-right">{{item.trigger_type == 0 ? 'cron' : item.trigger_type == 1 ? 'h' : item.trigger_type == 2 ? 'm' : 's'}}</td>
            <td class="align-right">{{item.cron_expression}}</td>
            <td class="align-right">{{item.trigger_count}}</td>
            <td class="align-right">{{item.trigger_interval}}</td>
            <td class="align-right">
                <a href="javascript:void(0);" ng-click="delete(item.id,item.trigger_name)">删除</a>
                <a href="#/schedule_trigger/new/edit/{{item.id}}">编辑</a>
            </td>
        </tr>
        <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <div ng-if="data.totalPage">
                    <uib-pagination
                            total-items="data.totalRow"
                            class="pagination-sm"
                            ng-model="param.page"
                            max-size="5"
                            boundary-links="true"
                            force-ellipses="false"
                            first-text="首页"
                            last-text="末页"
                            previous-text="上一页"
                            next-text="下一页"
                            num-pages="data.totalPage"
                            ng-change="queryScheduleTrigger()"
                            items-per-page="data.pageSize">
                    </uib-pagination>
                </div>

            </td>
        </tr>
        </tfoot>
    </table>
</div>