<div class="horizontal-scroll">
    <table class="table">
        <thead>
        <tr>
            <th class="align-right">#</th>
            <th class="align-right">订单号/流水号/交易号</th>
         <!--   <th class="align-right">交易号</th>-->
           <!-- <th class="align-right">接入方订单号</th>-->
            <!--<th class="align-right">用户ID</th>-->
            <th class="align-right">渠道</th>
            <th class="align-right">平台号</th>
            <th class="align-right">交易类型</th>
          <!--  <th class="align-right">商品</th>-->
            <!--  <th class="align-right">订单描述</th>-->
            <!--  <th class="align-right">金额</th>-->
            <th class="align-right">支付/退款</th>
           <!-- <th class="align-right">付款商户</th>-->
            <th class="align-right">状态</th>
           <!-- <th class="align-right">创建时间</th>-->
            <th class="align-right">交易时间/创建时间/超时时间</th>
            <!-- <th class="align-right">通知地址</th>-->
            <th class="align-right">操作</th>
        </tr>
        </thead>
        <tr ng-repeat="item in data.list">
            <td class="align-right" ng-click = "open($index)">{{item.id}}</td>
            <td class="align-right">订单号：{{item.out_trade_no}}<br>流水号：{{item.order_no}}<br>{{item.transaction_no ? "交易号：":""}}{{item.transaction_no}}</td>
  <!--          <td class="align-right">{{item.transaction_no}}</td>-->
          <!--  <td class="align-right">{{item.out_pay_order}}</td>-->
            <!-- <td class="align-right">{{item.user_id}}</td>-->
            <td class="align-right">{{item.channel}}</td>
            <td class="align-right">{{item.platform_no}}</td>
            <td class="align-right">{{item.trans_type == 'charge' ? '交易': item.trans_type == 'refund' ? '退款' : '-'}}</td>
            <!--<td class="align-right">{{item.subject}}</td>-->
            <!--  <td class="align-right">{{item.body}}</td>-->
            <!--  <td class="align-right">{{item.amount}}</td>-->
            <td class="align-right">{{item.amount_pay/100 | number:2}}/{{item.amount_refunded/100 | number:2}}</td>
           <!-- <td class="align-right">{{item.merchant}}</td>-->
            <td class="align-right">{{item.status == 0?"创建":item.status == 1?"成功":item.status == 2?"超时":item.status == 3 ? "退款":item.status == 4 ? "支付中":item.status == 5 ? "取消":item.status}}
          <!--  <td class="align-right">{{item.created_time}}</td>-->
            <td class="align-right">超时时间：{{item.time_expire}}<br>创建时间：{{item.created_time}}<br>{{item.time_paid ? "交易时间：":""}}{{item.time_paid}}</td>
            <!--  <td class="align-right">{{item.notify_url}}</td>-->

            <td class="align-right">
                <!--<a href="javascript:void(0)" ng-click="sendMessge({{item.order_no}})">通知</a>-->
                <a href="javascript:void(0)" ng-click="refundConfirm(item.order_no,item.amount_pay)">{{(item.trans_type == 'charge' && item.status == 1) ? '退款' : ''}}</a>
                <a href="javascript:void(0)" ng-click="open($index)">详情</a>
            </td>
        </tr>
        <tfoot>

        <tr>
            <td colspan="15" class="text-center">
                <!--<div st-pagination=""  st-items-by-page="1" st-displayed-pages="3"></div>-->
                <!--<st-pagination collection="data.list"></st-pagination>-->
                <!-- <div class="row"  ng-if="data.list.length">
                     <div class="col-md-2">
                         当前第{{data.pageNumber}}页
                     </div>
                     <div class="col-md-2">
                         总共{{data.totalPage}}页
                     </div>
                     <div id="btn-group"  class="btn-group col-md-8" role="group" aria-label="First group">
                         <button type="button" data-ng-repeat="btn in btns" ng-click="page(btn+1)" class="btn btn-primary">{{btn+1}}</button>
                     </div>

                 </div>-->
                <div ng-if="data.totalPage">
                    <uib-pagination
                            total-items="data.totalRow"
                            class="pagination-sm"
                            ng-model="param.page"
                            max-size="5"
                            boundary-links="true"
                            force-ellipses="false"
                            first-text="首页"
                            last-text="末页"
                            previous-text="上一页"
                            next-text="下一页"
                            num-pages="data.totalPage"
                            ng-change="queryHistoryTrade()"
                            items-per-page="data.pageSize">
                    </uib-pagination>
                </div>
            </td>

        </tr>
        </tfoot>
    </table>
</div>