<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="align-right">#</th>
            <th class="align-right">任务别名</th>
            <th class="align-right">任务名称</th>
            <th class="align-right">任务组名称</th>
            <th class="align-right">任务完整类名</th>
            <th class="align-right">触发器ID</th>
            <th class="align-right">是否可用</th>
            <th class="align-right">操作</th>
        </tr>
        </thead>
        <tr ng-repeat="item in data.list">
            <td class="align-right">{{item.id}}</td>
            <td class="align-right">{{item.job_alias}}</td>
            <td class="align-right">{{item.job_name}}</td>
            <td class="align-right">{{item.job_group}}</td>
            <td class="align-right">{{item.job_impl}}</td>
            <td class="align-right">{{item.trigger_id}}</td>
            <td class="align-right">{{item.job_enable}}</td>
            <td class="align-right">
                <a href="javascript:void(0)" ng-click="switchStatus(item.id,item.job_name,item.job_enable == 1?0:1)">{{item.job_enable == 1?"禁用":"启用"}}</a>
                <a href="javascript:void(0);" ng-click="delete(item.id,item.template_no)">删除</a>
                <a href="#/schedule_job/new/edit/{{item.id}}">编辑</a>
            </td>
        </tr>
        <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <div ng-if="data.totalPage">
                    <uib-pagination
                            total-items="data.totalRow"
                            class="pagination-sm"
                            ng-model="param.page"
                            max-size="5"
                            boundary-links="true"
                            force-ellipses="false"
                            first-text="首页"
                            last-text="末页"
                            previous-text="上一页"
                            next-text="下一页"
                            num-pages="data.totalPage"
                            ng-change="queryTemplate()"
                            items-per-page="data.pageSize">
                    </uib-pagination>
                </div>

            </td>
        </tr>
        </tfoot>
    </table>
</div>