<div class="widgets">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="platform_no">平台编号</label>
                <input type="text" ng-model="param.platform_no" class="form-control" id="platform_no" placeholder="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="platform_name">平台名称</label>
                <input type="text" ng-model="param.platform_name" class="form-control" id="platform_name" placeholder="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="status">平台状态</label>
                <select class="form-control" id="status" ng-model="param.status" title="平台状态" data-style="btn-primary" data-container="body" selectpicker>
                    <option></option>
                    <option value="0">创建</option>
                    <option value="1">正常</option>
                    <option value="2">禁用</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <label></label>
            <div class="button-wrapper"><button type="button" ng-click="queryBtn()" class="btn btn-primary  btn-sm">查询</button></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="平台列表" ba-panel-class="with-scroll">
                <div include-with-scope="app/pages/platform/list/table.html"></div>
            </div>
        </div>
    </div>
</div>