<form>

    <div class="form-group">
        <label for="channel_no">短信通道</label>
        <input type="text" class="form-control" id="channel_no" ng-model="price.channel_no" readonly>
    </div>
    <div class="form-group">
        <label for="country_name">国家名称</label>
        <input type="text" class="form-control" id="country_name" ng-model="price.country_name" readonly>
    </div>
    <div class="form-group">
        <label for="country_code">国家代码</label>
        <input type="text" class="form-control" id="country_code" ng-model="price.country_code" readonly>
    </div>
    <div class="form-group">
        <label for="price">价格（单位：厘）</label>
        <input type="number" class="form-control" id="price" ng-model="price.price">
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="button-wrapper">
                <button type="button" ng-click="checkPrice()" class="btn btn-success">保存</button>
            </div>
        </div>
    </div>
</form>