<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="align-right">#</th>
            <th class="align-right">模板名称</th>
            <th class="align-right">第三方模板名称</th>
            <th class="align-right">发送地址</th>
            <th class="align-right">发送地址名称</th>
            <th class="align-right">主题</th>
            <th class="align-right">摘要</th>
            <th class="align-right">回复地址</th>
            <th class="align-right">类型</th>
            <th class="align-right">创建时间</th>
            <th class="align-right">操作</th>
        </tr>
        </thead>
        <tr ng-repeat="item in data.list">
            <td class="align-right">{{item.id}}</td>
            <td class="align-right">{{item.template_name}}</td>
            <td class="align-right">{{item.refer_template}}</td>
            <td class="align-right">{{item.from_address}}</td>
            <td class="align-right">{{item.from_name}}</td>
            <td class="align-right"><textarea>{{item.subject}}</textarea></td>
            <td class="align-right"><textarea>{{item.content_summary}}</textarea></td>
            <td class="align-right">{{item.reply_to}}</td>
            <td class="align-right">{{item.content_type == 0?"第三方":item.content_type == 1?"自定义":"-"}}</td>
            <td class="align-right">{{item.created_time}}</td>
            <td class="align-right">
                <a href="javascript:void(0);" ng-click="delete(item.id,item.template_name)">删除</a>
                <a href="#/email_template/new/edit/{{item.id}}">编辑</a>
            </td>
        </tr>
        <tfoot>
        <tr>
            <td colspan="11" class="text-center">
                <div ng-if="data.totalPage">
                    <uib-pagination
                            total-items="data.totalRow"
                            class="pagination-sm"
                            ng-model="param.page"
                            max-size="5"
                            boundary-links="true"
                            force-ellipses="false"
                            first-text="首页"
                            last-text="末页"
                            previous-text="上一页"
                            next-text="下一页"
                            num-pages="data.totalPage"
                            ng-change="queryTemplate()"
                            items-per-page="data.pageSize">
                    </uib-pagination>
                </div>

            </td>
        </tr>
        </tfoot>
    </table>
</div>