<div class="widgets">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="channel_no">通道</label>
                <select class="form-control" id="channel_no" ng-model="param.channel_no" title="平台状态" data-style="btn-primary" data-container="body" selectpicker>
                    <option></option>
                    <option value="{{item.channel_no}}" data-ng-repeat="item in channels.list">{{item.id}} {{item.channel_no}} {{item.channel_name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="description">参数描述</label>
                <input type="text" ng-model="param.description" class="form-control" id="description" placeholder="">
            </div>
        </div>
        <div class="col-md-2">
            <label></label>
            <div class="button-wrapper"><button type="button" ng-click="queryBtn()" class="btn btn-primary  btn-sm">查询</button></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="参数列表" ba-panel-class="with-scroll">
                <div include-with-scope="app/pages/param/list/table.html"></div>
            </div>
        </div>
    </div>
</div>