<form>
    <div class="form-group">
        <label for="merchant_no">支付渠道编号</label>
        <input type="text"  class="form-control" id="merchant_no" ng-model="merchant.merchant_no" placeholder="商户号">
    </div>
    <div class="form-group">
        <label for="merchant_name">支付渠道名称</label>
        <input type="text" class="form-control" id="merchant_name" ng-model="merchant.merchant_name" placeholder="请填写商户名称">
    </div>
    <div class="row">
       <div class="col-md-2 text-right">
            <label>请选择支付渠道</label>
        </div>
        <div class="col-md-4 text-left">
            <div class="form-group">
                <select class="form-control" ng-model="merchant.pay_channel" ng-change="selectAppChange(merchant.pay_channel)" title="支付渠道" data-style="btn-primary"  data-container="body" selectpicker>
                    <option value="alipay">支付宝</option>
                    <option value="wx">微信</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <label>请选择支付方式</label>
        </div>
        <div class="col-md-4 text-left">
            <div class="form-group">
                <select class="form-control"  ng-model="merchant.pay_type" title="支付方式" data-style="btn-primary" data-container="body" selectpicker>
                    <option data-ng-repeat="item in payMethod" value="{{item.key}}">{{item.value}}</option>
                </select>
            </div>
        </div>
        <!--  <div class="col-md-2 text-right">
               <label>请选择支付方式</label>
           </div>
           <div class="col-md-4 text-left">
               <div class="form-group">
                   <select class="form-control" ng-model="merchant.pay_type" title="支付方式" data-style="btn-primary" data-container="body" selectpicker>
                       <option value="qr">二维码支付</option>
                       <option value="h5">H5页面支付</option>
                   </select>
               </div>
           </div>

          <div class="col-md-2 text-right">
              <label>请选择签名方式</label>
          </div>
          <div class="col-md-4 text-left">
              <div class="form-group">
                  <select class="form-control" ng-model="merchant.sign_type" title="签名类型" data-style="btn-primary" data-container="body" selectpicker>
                      <option value="MD5">MD5</option>
                      <option value="RSA2">RSA2</option>
                  </select>
              </div>
          </div>-->
    </div>
    <div class="form-group">
        <label for="mch_no">收款商户号</label>
        <input type="text" class="form-control" id="mch_no" ng-model="merchant.mch_no" placeholder="请填写在第三方开通的商户">
    </div>
    <div class="form-group">
        <label for="app_id">第三方应用ID</label>
        <input type="text" class="form-control" id="app_id" ng-model="merchant.app_id" placeholder="请填写在第三方开通支付的app id">
    </div>
    <div class="form-group">
        <label for="notify_url">回调地址</label>
        <input type="text" class="form-control" id="notify_url" ng-model="merchant.notify_url" placeholder="请填写回调地址">
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="button-wrapper"><button type="button" ng-click="checkMerchant()" class="btn btn-success">保存</button></div>
        </div>
    </div>
</form>