<div class="widgets">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="status">通知状态</label>
                <select class="form-control" id="status" ng-model="param.status" title="订单状态" data-style="btn-primary" data-container="body" selectpicker>
                    <option></option>
                    <option value="0">创建</option>
                    <option value="1">成功</option>
                    <option value="2">失败</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="text">搜索文本</label>
                <input type="text" ng-model="param.text" class="form-control" id="text" placeholder="">
            </div>
        </div>

        <div class="col-md-2">
            <label></label>
            <div class="button-wrapper"><button type="button" ng-click="queryBtn()" class="btn btn-primary  btn-sm">查询</button></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="消息列表" ba-panel-class="with-scroll">
                <div include-with-scope="app/pages/message/list/table.html"></div>
            </div>
        </div>
    </div>
</div>