<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="align-right">#</th>
            <th class="align-right">签名编号</th>
            <th class="align-right">短信签名</th>
            <th class="align-right">操作</th>
        </tr>
        </thead>
        <tr ng-repeat="item in data.list">
            <td class="align-right">{{item.id}}</td>
            <td class="align-right">{{item.sign_no}}</td>
            <td class="align-right">{{item.sign}}</td>
            <td class="align-right">
                <a href="javascript:void(0);" ng-click="delete(item.id,item.sign)">删除</a>
                <a href="#/sign/new/edit/{{item.id}}">编辑</a>
            </td>
        </tr>
        <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <div ng-if="data.totalPage">
                    <uib-pagination
                            total-items="data.totalRow"
                            class="pagination-sm"
                            ng-model="param.page"
                            max-size="5"
                            boundary-links="true"
                            force-ellipses="false"
                            first-text="首页"
                            last-text="末页"
                            previous-text="上一页"
                            next-text="下一页"
                            num-pages="data.totalPage"
                            ng-change="querySmsSign()"
                            items-per-page="data.pageSize">
                    </uib-pagination>
                </div>

            </td>
        </tr>
        </tfoot>
    </table>
</div>